

extends layouts/main.pug

block styles
    link(rel="stylesheet", href="/css/product")
    link(rel="stylesheet", href="/css/forms.css")
    

block content
    main
        form.product-form(action="/admin/product", method="POST")
            .form-control
                label(for="title") Damn
                input(type="text", name="title")
            button(type="submit") 新增產品


